venv/
src/dataset*
src/.ipynb_checkpoints*
src/p4src/old_pcap/
src/p4src/log/
src/p4src/pforest.p4i
src/p4src/pforest.json
src/p4src/topology.db
src/randomforest/.ipynb_checkpoints*
src/__pycache__*
src/randomforest/__pycache__*
evaluation/p4src/s1-commands.txt
evaluation/p4src/include*
evaluation/p4src/pforest.p4
evaluation/p4src/log/
evaluation/p4src/pforest.p4i
evaluation/p4src/pforest.json
evaluation/p4src/topology.db